.grid-container{
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
  "logo"
  "hoofd-titel"
  "grid-item-1"
  "grid-item-2"
  "grid-item-3"
  "grid-item-4";

}

.logo{
  grid-area: logo;
}

.hoofd-titel{
  grid-area: hoofd-titel;
}

.grid-item-1{
  grid-area: grid-item-1;
}

.grid-item-2{
  grid-area: grid-item-2;
}

.grid-item-3{
  grid-area: grid-item-3;
}

.grid-item-4{
  grid-area: grid-item-4;
}

/* iPad */

@media only screen and (min-width: 750px){
 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "logo logo"
    "hoofd-titel hoofd-titel"
    "grid-item-1 grid-item-2"
    "grid-item-3 grid-item-4"

}

/* Kleine desktop */

@media only screen and (min-width: 1280px){
 .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
    "logo logo logo"
    "hoofd-titel hoofd-titel hoofd-titel"
    "grid-item-1 grid-item-2 grid-item-3"
    "grid-item-4 grid-item-4 grid-item-4"

}

/* grote desktop */

/* @media only screen and (min-width: 1460px){
 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "logo logo"
    "hoofd-titel hoofd-titel"
    "grid-item-1 grid-item-2"
    "grid-item-3 grid-item-4"

} */
