@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
  margin: 0;
  background-color: #1F2833;
}

.logo-groote{
  width: 50%;
  margin: 10px;
}

.logo{
  text-align: center;
}


.tekst{
  font-family: Roboto;
  font-size: 50px;
  color: white;
}

.hoofdkopje{
  padding-top: 15px;
  color: white;
  font-family: Roboto;
}

.grid-item-1{
  background-color: #1F2833;
}

#geocoder{
  padding-left: 10%;
}

.grid-item-2{
  margin-left: auto;
  margin-right: auto;
  background-color: #336699;
  border-radius: 10px;
  width: 700px;
  height: 250px;
  color: white;
  font-family: Roboto;
  font-size: 20px;
}

.grid-item-3{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #336699;
  border-radius: 10px;
  width: 700px;
  height: 250px;
  font-size: 18px;
}

.grid-item-4{
}

#map {
  width: 900px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: 8%;
}

#weer{
  color: white;
  background-color: #336699;
  font-size: 50px;
  padding-bottom: 15px;
}

#citybutton{
  visibility: hidden;
}

#weersverwachting{
  color: white;
  background-color: #336699;
  font-size: 25px;
  font-family: Roboto;
  padding-bottom: 15px;
}
